{{ classdetail }}

<p>Class Duraion : {{ classdetail.starting_year }} - {{ classdetail.ending_year}}</p><br>
<p>Class Teacher : {{ classdetail.class_teacher }} </p>
<p>Class Stregth : {{ class_strength }} </p>
{{ classdetail.id }}
<a  href="/am/markattendance/{{ classdetail.id }}"><button>Mark Attenance</button></a>

<p>List of Students in the class</p>
<table>
	<tr>
		<th>Student Name</th>
	</tr>
	{% for stud in students_of_class %}
	<tr>
		<td><a href="/cm/studentprofile/{{ stud.student.id }}">{{ stud.student }}</a></td>
	</tr>
	{% endfor %}
</table>





