

<h1>Profile Section</h1>

<h2>{{ student }}</h2>
<p>{{ student.address_1 }}</p>
<p>{{ student.address_2 }}</p>
<p>{{ student.mobile_number1 }}</p>
<p>{{ student.mobile_number2 }}</p>
<p>{{ student.locality }}</p>
<p>{{ student.pincode }}</p>



<h1>Marks Section</h1>

<h1>Attendance Section</h1>