{% extends 'base.html' %}
{% block content %}
<h2>Class Student Allocation</h2>


<form method="GET" class="post-form" >

	<label for="allocate_from">Allocate From </label>
	<select name="allocate_from">
		<option value="all" selected>All</option>
		{% for i in class_list %}
		<option value="{{ i.id }}">{{ i }}</option>
		{% endfor %}
	</select>
	<button>Search Students</button><br>

</form>
<form method="POST" class="post-form">{% csrf_token %}
		{{ studentClassAllocationForm.as_p }}
		
	<table>
		<tr>
			<th>Select Student</th>
			<th>Admission Number</th>
			<th>Firstname</th>
			<th>Lastname</th> 

		</tr>
		{% for student in student_list %}
		<tr>
			<td><input type="checkbox" name="selected_students" value="{{ student.id }}"></td>
			<td><a href="{% url 'editstudentprofile' %}{{ student.user.id }}">{{ student.user.username }}</a></td>
			<td>{{ student.user.first_name }} </td>
			<td>{{ student.user.last_name }}</td>
		</tr>

		{% endfor %}
	</table>
    <button type="submit" id="sb" class="save btn btn-default">Save</button>

</form>
	<button id="a">a</button>

<style type="text/css">
	table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>

{% endblock %}
