

<h1>Classes List</h1>

<!-- {{ classList }} -->





	<table>
		<tr>
			<th>Class</th>
			<th>In Charge</th>
			<th>Strength</th>

		</tr>
		{% for class in classList %}
		<tr>
			
			<td>	<a href="{% url 'classdetails' %}{{ class.id }}">{{ class.starting_year }} - {{ class.ending_year }} {{ class.class_name }} {{ class.division_name }}</a><br>
			</td>
			<td>
				<a href="">{{ class.class_teacher }}</a>
			</td>
			<td>
				<a href="">{{ class.no_of_students_in_class }}</a>
			</td>
	
		</tr>

		{% endfor %}
	</table>






