{% extends 'base.html' %}
{% block content %}


<h2>USER MANAGEMENT</h2>
    <a href="{% url 'addstudentuser' %}">Add New Student</a><br>
	<a href="{% url 'addteacheruser' %}">Add New Teacher</a><br>
    
	<a href="{% url 'viewallstudents' %}">View All Students</a><br>
	<a href="{% url 'viewallteachers' %}">View All Teachers</a>

	<br>
<h3>CLASS MANAGEMENT</h3>
	
	<a href="/cm/newclass/">Add &amp; Allot New Class</a><br>
	<a href="/cm/viewclasslist/">View Classes</a><br>
	<a href="/cm/allocatestudentstoclass/">Allocate Students to Class</a>

<h4>ATTENDANCE MANAGEMENT</h4>
	<a href="/am/viewclasslist/">Mark Attendance</a>
<h4>MARK MANAGEMENT</h4>
{% endblock %}