<h2>Mark Attendance of class here</h2>
<form method="POST" action="/am/markattendance/3/">
    {% csrf_token %}
    {{  dateofAttendance }}
    <table>
        <tr>
            <th>Roll No</th>
            <th>Admission Number</th>        
            <th>Student Name</th>
            <th>Absent</th>
            <th>Present</th>
        </tr>
            {% for student in students %}
            <tr>
                <td>{{ student.roll_number }}</td>
                <td>{{ student.id }}</td>        
                <td>{{ student.student }}</td>
                <td><input type="radio" name="{{ student.id }}" value="A" >Absent<br></td>
                <td><input type="radio" name="{{ student.id }}" value="P" checked>Present<br></td>
            </tr>
            {% endfor %}
    </table>
    <input type="Submit"/>
</form>