

<!DOCTYPE html>
<html>
<head>
	<title>School Management Portal</title>
</head>
<body>
<form method="POST" class="post-form">{% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
    
    <p>    {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
    </p>
        
        <button type="submit" class="save btn btn-default">Save</button>
    </form>

</body>
<script>
    x
</script>
</html>