{% extends 'base.html' %}
{% block content %}
	<a href="{% url 'addstudentuser' %}">Add New Student</a><br>
	<a href="{% url 'viewallstudents' %}">View All Students</a><br>
	<a href="{% url 'addteacheruser' %}">Add New Teachers</a><br>
	<a href="{% url 'viewallteachers' %}">View All Teachers</a>

	<br>
<h3>Class Management</h3>
	
	<a href="/cm/newclass/">Add &amp; Allot New Class</a><br>
	<a href="/cm/viewclasslist/">View Classes</a><br>
	<a href="/cm/allocatestudentstoclass/">Allocate Students to Class</a>

{% endblock %}