<h2>View All Student</h2>
{{ students }}


<h2>Teacher</h2>
<table>
  <tr>
  <th>Username</th>
    <th>Firstname</th>
    <th>Lastname</th> 
    <th>Age</th>
  </tr>
  {% for teacher in teachers %}
  <tr>
    <td><a href="{% url 'editstudentprofile' %}{{ teacher.user.id }}">{{ teacher.user.username }}</a></td>
    <td>{{ teacher.user.first_name }} </td>
    <td>{{ teacher.user.last_name }}</td>
  </tr>
  
  {% endfor %}
</table>



<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>