<h2>View All Student</h2>
{{ students }}


<h1>Students</h1>
<table>
	<tr>
	<th>Username</th>
    <th>Firstname</th>
    <th>Lastname</th> 
    <th>Age</th>
  </tr>
  {% for student in students %}
  <tr>
  	<td><a href="{% url 'editstudentprofile' %}{{ student.user.id }}">{{ student.user.username }}</a></td>
  	<td>{{ student.user.first_name }} </td>
  	<td>{{ student.user.last_name }}</td>
  </tr>
	
	{% endfor %}
</table>




<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>