<!DOCTYPE html>
<html>
<head>
	<title>BASE HTML</title>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>
	{% block content %}
	{% endblock %}
</body>
</html>