<html>

<h1>{{ username }}</h1>
<h1>{{ first_name }} {{ last_name }}</h1>



  <form method="POST" class="post-form">{% csrf_token %}
  {{ userProfile.as_p }}
          <button type="submit" class="save btn btn-default">Save</button>
      </form>

</html>
