

<!DOCTYPE html>
<html>
<head>
	<title>School Management Portal</title>
</head>
<body>
<form method="POST" class="post-form">{% csrf_token %}
        {{ profileform.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>

</body>
</html>